.hero{
    display: flex;
    overflow: hidden;
    height: calc(100vh - 70px);
}

.hero-image{
    flex: 1;
    display: flex;
    position: relative;
    
}


.hero-image img{

    position: absolute;
    inset: 0;
    z-index:4;
    width: 600px;
    margin-top: 120px;
    margin-left: 10px;
    

}

.hero-overlay{
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hero-avis-contains img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;}

.hero-content{
    display: flex;
    flex:1.98;
    justify-content: space-between ;
    flex-direction: column;
    align-items: center;
}

.hero-text-contain{

    margin-top: 80px;
}
.hero-text-contain h1{
    font-size: 70px;
    font-weight: bold;
    color: var(--text-color2);
    text-align: end;
}

.hero-text-contain p{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color2);
    text-align: end;
}

.hero-button-contain{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-button-contain button{
    width: 140px;
    height: 70px;
    border-radius: 40px 40px 40px 40px ;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

.hero-button-contain button:hover{
    background-color: var(--primary-color-darker);
}

.hero-avis-contains{
    display: flex;
    gap: 20px;
    justify-content: end;
    background-color: var(--text-color);
    width: 100%;
    height: fit-content;
}
.hero-avis-contains div{
    flex:1.5;
    color : var(--text-color);
}